* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  margin: 0 auto;
  width: 1320px;
}
.header {
  width: 100%;
  position: fixed;
  align-items: center;
  background: rgba(0, 0, 0, 0.555);
}
.navbar {
  display: flex;
  padding: 30px 0;
  align-items: center;

  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu ul {
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.menu ul li {
  display: inline-block;
  align-items: center;
}
.menu ul li a {
  color: white;
  font-size: 20px;
  padding: 0 15px;
  font-style: normal;

  font-optical-sizing: auto;
  font-weight: 700;
  font-family: "Source Sans 3", serif;
  text-transform: uppercase;
}
.menu ul li a:hover {
  color: yellowgreen;
}
.button a {
  color: white;
  font-size: 20px;
  background: saddlebrown;
  padding: 10px;
  margin: 0 20px;
  border-radius: 10px;
  text-transform: uppercase;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Source Sans 3", serif;
  font-weight: 700;

  transition: 0.5s;
}
.button a:hover {
  color: black;
  background: yellowgreen;
}
.search a i {
  font-size: 20px;
  margin-left: 20px;
  color: white;
  transition: 0.5s;
}
.search a i:hover {
  color: greenyellow;
}
.banner {
  background: url(../images/bg-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.overly {
  background: rgba(0, 0, 0, 0.705);
  padding: 300px;
}
.content h1 {
  font-size: 45px;
  text-align: center;
  color: aliceblue;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.content h5 {
  font-size: 25px;
  color: aliceblue;
  margin-top: 25px;
  text-align: center;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Source Sans 3", serif;
  font-weight: 400;
}
.info {
  display: flex;
}
.slide img {
  height: 615px;
  left: 0;
  top: 0;
}
.text h1 {
  font-size: 45px;
  display: inline-block;
  text-align: center;
  margin: 30px 191px 0;
  color: black;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.text h5 {
  font-size: 25px;
  color: grey;
  margin: 0 191px;
  /* margin-top: 25px; */
  text-align: center;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Source Sans 3", serif;
  font-weight: 400;
}
.text p {
  font-size: 25px;
  color: black;
  margin: 5px 69px;
  margin-top: 35px;
  text-align: center;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Source Sans 3", serif;
  font-weight: 400;
}
.divs {
  margin: 0 auto;
}
.backer {
  background: url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.over {
  padding: 200px;
  background: rgba(0, 0, 0, 0.726);
}
.texts h1 {
  font-size: 45px;
  display: inline-block;
  text-align: center;
  margin: 0px 50px;
  color: white;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.texts h5 {
  font-size: 25px;
  color: grey;
  margin: 0 100px;
  text-align: center;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Source Sans 3", serif;
  font-weight: 400;
}
.boxes {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Source Sans 3", serif;
  font-weight: 700;
  font-size: 30px;
}
.a {
  height: 250px;
  width: 250px;
  transition: 0.5s;
  background: grey;
}
.a:hover {
  background: teal;
}
.b {
  transition: 0.5s;

  height: 250px;
  width: 250px;
  background: grey;
}
.b:hover {
  background: teal;
}
.c {
  transition: 0.5s;
  height: 250px;
  width: 250px;
  background: grey;
}
.c:hover {
  background: teal;
}
.d {
  transition: 0.5s;
  height: 250px;
  width: 250px;
  background: grey;
}
.d:hover {
  background: teal;
}
