* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  margin: 0 auto;
  width: 1320px;
}
.header {
  width: 100%;
  position: fixed;
  align-items: center;
  background: rgba(0, 0, 0, 0.555);
}
.navbar {
  display: flex;
  padding: 45px 0;
  align-items: center;

  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu ul {
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.menu ul li {
  display: inline-block;
  align-items: center;
}
.menu ul li a {
  color: white;
  font-size: 20px;
  padding: 0 15px;
  font-style: normal;

  font-optical-sizing: auto;
  font-weight: 700;
  font-family: "Source Sans 3", serif;
  text-transform: uppercase;
}
.menu ul li a:hover {
  color: yellowgreen;
}
.button a {
  color: white;
  font-size: 20px;
  background: saddlebrown;
  padding: 10px;
  margin: 0 20px;
  border-radius: 10px;
  text-transform: uppercase;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Source Sans 3", serif;
  font-weight: 700;

  transition: 0.5s;
}
.button a:hover {
  color: black;
  background: yellowgreen;
}
.search a i {
  font-size: 20px;
  margin-left: 20px;
  color: white;
  transition: 0.5s;
}
.search a i:hover {
  color: greenyellow;
}
.banner {
  background: url(../images/bg-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.overly {
  background: rgba(0, 0, 0, 0.705);
  padding: 300px;
}
.content h1 {
  font-size: 45px;
  text-align: center;
  color: aliceblue;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.content h5 {
  font-size: 25px;
  color: aliceblue;
  margin-top: 25px;
  text-align: center;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Source Sans 3", serif;
  font-weight: 400;
}
