* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  margin: 0 auto;
  width: 1320px;
}
.header {
  width: 100%;
  position: fixed;
  align-items: center;
  background: rgba(0, 0, 0, 0.555);
}
.navbar {
  display: flex;
  padding: 30px 0;
  align-items: center;

  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu ul {
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.menu ul li {
  display: inline-block;
  align-items: center;
}
.menu ul li a {
  color: white;
  font-size: 20px;
  padding: 0 15px;
  transition: 0.5s;
  font-style: normal;

  font-optical-sizing: auto;
  font-weight: 700;
  font-family: "Source Sans 3", serif;
  text-transform: uppercase;
}
.menu ul li a:hover {
  color: yellowgreen;
}
.button a {
  color: white;
  font-size: 20px;
  background: saddlebrown;
  padding: 10px;
  margin: 0 20px;
  border-radius: 10px;
  transition: 0.5s;

  text-transform: uppercase;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Source Sans 3", serif;
  font-weight: 700;

  transition: 0.5s;
}
.button a:hover {
  color: black;
  background: yellowgreen;
}
.search a i {
  font-size: 20px;
  margin-left: 20px;
  color: white;
  transition: 0.5s;
}
.search a i:hover {
  color: greenyellow;
}
.banner {
  background: url(../images/bg-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.overly {
  background: rgba(0, 0, 0, 0.705);
  padding: 300px;
}
.content h1 {
  font-size: 45px;
  text-align: center;
  color: aliceblue;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.content h5 {
  font-size: 25px;
  color: aliceblue;
  margin-top: 25px;
  text-align: center;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Source Sans 3", serif;
  font-weight: 400;
}
.info {
  display: flex;
}
.slide img {
  /* padding: 615px auto; */
  height: 100%;
  left: 0;
  top: 0;
}
.text h1 {
  font-size: 45px;
  text-align: center;
  color: black;
  margin-top: 50px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.text h5 {
  font-size: 25px;
  color: grey;
  margin: 0 191px;
  text-align: center;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Source Sans 3", serif;
  font-weight: 400;
}
.text p {
  font-size: 25px;
  color: black;
  margin: 5px 69px;
  margin-top: 35px;
  text-align: center;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Source Sans 3", serif;
  font-weight: 400;
}
.divs {
  margin: 0 auto;
}
.backer {
  background: url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.over {
  padding: 200px;
  background: rgba(0, 0, 0, 0.726);
}
.texts h1 {
  font-size: 45px;
  text-align: center;
  color: white;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.texts h5 {
  font-size: 25px;
  color: grey;
  margin: 0 100px;
  text-align: center;
  font-style: normal;
  font-optical-sizing: auto;
  font-family: "Source Sans 3", serif;
  font-weight: 400;
}
.boxes {
  display: flex;
  font-size: 80px;
  font-weight: 700;
  margin: 50px auto;
  font-style: normal;
  text-transform: uppercase;
  font-optical-sizing: auto;
  justify-content: space-around;
  font-family: "Source Sans 3", serif;
}
.a,
.b,
.c,
.d {
  height: 250px;
  width: 250px;
  color: darkolivegreen;
  background: rgb(211, 203, 203);
}
.a i,
.b i,
.c i,
.d i {
  margin-left: 125px;
  margin-top: 125px;
  transform: translate(-50%, -50%);
}
.a:hover,
.b:hover,
.c:hover,
.d:hover {
  color: white;
  transition: 0.7s;
  background: teal;
}
.about {
  margin: 30px auto;
}
.headerwhite {
  text-align: center;
}
.headerwhite h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
}
.headerwhite h4 {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 5px 200px;
  font-size: 25px;
}
.meo {
  display: flex;
  margin: 25px auto;
  position: relative;
  align-items: center;
}
.partin {
  left: 0;
  top: 0;
  text-align: left;
}
.partit {
  text-align: right;
  right: 0;
  top: 0;
}
.imga img {
  width: 660px;
}
.box {
  position: absolute;
  height: 200px;
  width: 200px;
  background: rgb(255, 0, 0);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid white;
}
.box h1 {
  display: inline-block;
  color: aliceblue;
  font-size: 100px;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}
.hod h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 850;
  font-style: normal;
  font-size: 30px;
}
.hod h4 {
  text-align: center;
  text-transform: lowercase;
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}
.dov {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}
.overlysd {
  background: rgba(0, 0, 0, 0.63);
  padding: 10px 10px 10px 10px;
  margin: 0 0px;
}
.overlysd h4 {
  color: blanchedalmond;
  text-align: center;
  text-transform: lowercase;
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}
.ksad {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.supporters h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 850;
  font-style: normal;
  font-size: 30px;
  margin: 40px auto;
  color: green;
}
